

<ion-content padding class="backPage flex" row>

  <ion-list row  class="fix">

    <ion-item  col-lg-3 col-md-6>
      <ion-label floating>Email</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item col-lg-3 col-md-6 >
      <ion-label floating>Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-item col-lg-3 col-md-6 class="fix">
      <button color="danger" class="butSign"  col-lg-6 col-md-6 col-sm-6 ion-button icon-right >Sign in</button>
      <button color="light" class="butRegistration" col-lg-6 col-sm-6 col-md-6  ion-button icon-right (click)="itemTapped()">Sign up</button>
    </ion-item>

  </ion-list>
</ion-content>




