

<ion-content  padding class="backPage " row>

  <ion-list row  class="fix formLog">

    <ion-item  col-lg-4 col-md-6 class="radTop">
      <ion-label floating>Email</ion-label>
      <ion-input name="myemail" type="text" #email></ion-input>
    </ion-item>

    <ion-item col-lg-4 col-md-6 >
      <ion-label floating>Password</ion-label>
      <ion-input type="password" #password></ion-input>
    </ion-item>

    <ion-item col-lg-4 col-md-6 class="fix radEnd">
      <button ion-button color="danger" class="butSign" col-lg-6 icon-right (click)="signIn()">Sign in</button>
      <button ion-button color="dark" class="butRegistration" col-lg-6 icon-right (click)="itemTapped()">Sign up</button>
    </ion-item>

  </ion-list>
</ion-content>




