main-component {

  .toolbar-background {
      background-color:  #e28c01;
  }

  .backPage{
      background-color: #fff0bc;
  }

  .MenuPun{
      background-color: #e28c01;
  }

  .back-button {
      display: none !important;
  }

}
