
  <ion-content padding class="backPage flex"  row>

    <ion-list row  class="fix">

      <ion-item  col-lg-12 col-md-6 class="radTop">
        <ion-label floating #email>Email</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item col-lg-12 col-md-6 >
        <ion-label floating #password>Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <ion-item col-lg-12 col-md-6 >
        <ion-label floating>Repeat Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <ion-item col-lg-12 col-md-6 class="radEnd fix">
        <button color="danger"  class="butSign"  ion-button icon-right (click)="regMe()"> Sign up</button>
        <button color="dark"  class="butSign" (click) ="itemTapped()" ion-button icon-right> Sign in</button>
      </ion-item>

    </ion-list>
  </ion-content>

