
  <ion-content padding class="backPage flex"  row>

    <ion-list row  class="fix">

      <ion-item  col-lg-3 col-md-6>
        <ion-label floating>Email</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item col-lg-3 col-md-6 >
        <ion-label floating>Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <ion-item col-lg-3 col-md-6 >
        <ion-label floating>Repeat Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <ion-item col-lg-3 col-md-3 >
        <button color="danger" col-lg-5 col-md-5 class="butSign"  ion-button icon-right> Sign up</button>
        <button color="light" col-lg-5 col-md-5  class="butSign" (click)="itemTapped()" ion-button icon-right> Sign in</button>
      </ion-item>

    </ion-list>
  </ion-content>

