<ion-header class="interfaceHeader">
  <ion-navbar class="intNav">
    <ion-list col-lg-1 class="intList" (click)="itemTapped()" >Sign Out </ion-list>
    <ion-list col-lg-1 class="intList" (click)="itemContact()">Contact</ion-list>
    <ion-list col-lg-1 class="intList" (click)="itemAbout()" >About</ion-list>
    <ion-list col-lg-1 class="intList" (click)="itemMain()" >Main</ion-list>
  </ion-navbar>
</ion-header>

<ion-content  padding row class="backContent">
    <ion-title  offset-lg-1 col-lg-5 col-md-6 col-sm-12 col-xs-12 class="contMarTop">
      <ion-card-title class="titInterface">
        CONTACT FORM
      </ion-card-title>
      <ion-list  class="borContact">

        <ion-item>
          <ion-label floating>Name</ion-label>
          <ion-input required name="myname" type="text" clearInput #name></ion-input>
        </ion-item>
        <ion-item *ngIf="errorName" col-lg-12 col-md-6 class="errorMess">
          <p class="err">Name can not contain digits!</p>
        </ion-item>




        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input required name="myemail" type="text" clearInput #email></ion-input>
        </ion-item>
        <ion-item *ngIf="errorEmail" col-lg-12 col-md-6 class="errorMess">
          <p class="err">E-mail is not valid!</p>
        </ion-item>


        <ion-item>
          <ion-label floating>Subject</ion-label>
          <ion-input required name="subject" type="text" clearInput #subj></ion-input>
        </ion-item>
        <ion-item *ngIf="errorSubj" col-lg-12 col-md-6 class="errorMess">
          <p class="err">A topic can not consist of only digits!</p>
        </ion-item>


        <ion-item>
          <ion-label floating>Message</ion-label>
          <ion-input required name="message" type="text" clearInput #mess></ion-input>
        </ion-item>
        <ion-item *ngIf="errorMess" col-lg-12 col-md-6 class="errorMess">
          <p class="err">Message can not contain only numbers!</p>
        </ion-item>

        <button class="contButton" color="dark" (click)="sendMes()" ion-button >SEND MESSAGE</button>
      </ion-list>
    </ion-title>


    <ion-card col-lg-5 col-md-5 col-sm-12 col-xs-12 offset-lg-1 class="contInformation">
      <ion-card-content class="alignment">
        <ion-card-title class="titInterface">
          CONTACT INFORMATION
        </ion-card-title>
        <p class="textAboutInf">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque et quasi architecto beatae vitae dicta sunt explicabo.
          Mornunc odio gravida atcursus neus a lorem.
          Maecenas tristique orci ac sem. Duis ultric pharetra magna.
          Donec accumsan malesuada orcic sit amet eros. Lorem ipsum dolor sit amet onsectetuer adipiscing
          Mauris fermentum dictum magna. Sed laoreet aliquam leo.
          Ut tellus dolor dapibus eget.
          Mauris tincidunt aliquam lectus sed vestibulum.
          Vestibulum bibendum suscipit mattis.
          Praesent nec tincidunt turpis. Aliquam et nisi risus.
          Cras ut varius ante. Ut congue gravida dolor, vitae viverra dolor.
        </p>
        <div class="cardFooter">
          <p col-lg-5 col-md-5 class="textCont">
            The Company Name Inc.
            9870 St Vincent Place,
            Glasgow, DC 45 Fr 45.
          </p>
           <p col-lg-5 col-md-5 class="textCont">
            E-mail: mail@demolink.org
            Telephone: +1 959 603 6035
            FAX: + 1 504 889 9898
          </p>
        </div>

      </ion-card-content>
    </ion-card>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title class="intFooter">@2018 ProductInventory</ion-title>
  </ion-toolbar>
</ion-footer>
